<%- include('partials/header')%>
<nav class="navbar" style="background-color:#253A4B;">
    <a class="navbar-brand" href="/">
        <img src="<%=page[0].brandIcon%>" width="30" height="30" class="d-inline-block align-top" alt="">
        <%=page[0].brandName%>
    </a>
    <div class='text-justify'>
        <a href="/form" class="btn btn-link btn-sm">FORM</a>
        <a href="/announcement" class="btn btn-link btn-sm">ANNOUNCEMENT</a>
        <% if(!user){%>
        <a class="btn btn-success btn-sm" href='/login'>LOG IN</a>
        <a class="btn btn-success btn-sm" href='/register'>SIGN UP</a>
        <% }
        else{%>
        <a class="btn btn-success btn-sm" href='/logout'>LOG OUT</a>
        <% }%>
    </div>
</nav>
<div class="jumbotron"
    style='height: 80vh; background: url("<%=page[0].Jimg%>") no-repeat center center; border-radius: 0 !important;'>
    <h1 class="display-4 font-weight-bold" style="color: rosybrown;"><%=page[0].bigTitle%></h1>
    <p class="lead" style="color: rosybrown;"><%=page[0].bigText%></p>
</div>

<div id=' descid pb-4 mt-4 pt-4'><%-(page[0].de)%></div>
<div class="container pt-4 pb-4">
    <div class="text-center">
        <h3><%=page[0].ownTitle%></h3>
        <p class="lead"><%=page[0].ownText%></p>
    </div>
</div>
<hr>
<div class="container mt-4 pt-4">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <img src="<%=page[0].uImg%>" style=" 
            border-radius: 4px;
            padding: 5px;
            width: 2000x;
            height: 300px;" class="rounded mx-auto d-block">
            <p class="lead text-center"><%=page[0].university%></p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 container fill-height">
            <div class="container">
                <h3 style="text-align:center;">About University</h3>
                <p class="lead" style="text-align:center;"><%=page[0].uNote%></p>

            </div>

        </div>
    </div>
</div>

<hr>
<div class='container mt-4 mb-4'>
    <div class="text-center pt-4 pb-4 pl-4 pr-4">
        <h3>About US</h3>
        <p class="lead"><%=page[0].about%></p>
    </div>
</div>

<style>
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
</style>

<div class="footer text-left">
    <table>
        <tr>
            <th style="width: 30px; height: 30px;"><img src="<%=page[0].brandIcon%>" width="30" height="30"
                    class='ml-4'></th>
            <th>
                <p class="mt-3">&nbsp;<%=page[0].brandName%></p>
            </th>
        </tr>
    </table>
    <table class='ml-4 '>
        <tr>
            <th>
                <address>
                    <%=page[0].address%>
                </address>
            </th>
        </tr>
        <tr>
            <th>
                <a href="tel:<%=page[0].phone%>"><%=page[0].phone%></a>
            </th>
        </tr>
        <tr>
            <th>
                <a href="<%=page[0].fb%>">
                    <svg enable-background="new 0 0 24 24" height="25" viewBox="0 0 24 24" width="25"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m21 0h-18c-1.655 0-3 1.345-3 3v18c0 1.654 1.345 3 3 3h18c1.654 0 3-1.346 3-3v-18c0-1.655-1.346-3-3-3z"
                            fill="#3b5999" />
                        <path
                            d="m16.5 12v-3c0-.828.672-.75 1.5-.75h1.5v-3.75h-3c-2.486 0-4.5 2.014-4.5 4.5v3h-3v3.75h3v8.25h4.5v-8.25h2.25l1.5-3.75z"
                            fill="#fff" />
                    </svg>
                </a>
                <a href="<%=page[0].insta%>">
                    <svg enable-background="new 0 0 24 24" height="25" viewBox="0 0 24 24" width="25"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <linearGradient id="SVGID_1_" gradientTransform="matrix(0 -1.982 -1.844 0 -132.522 -51.077)"
                            gradientUnits="userSpaceOnUse" x1="-37.106" x2="-26.555" y1="-72.705" y2="-84.047">
                            <stop offset="0" stop-color="#fd5" />
                            <stop offset=".5" stop-color="#ff543e" />
                            <stop offset="1" stop-color="#c837ab" />
                        </linearGradient>
                        <path
                            d="m1.5 1.633c-1.886 1.959-1.5 4.04-1.5 10.362 0 5.25-.916 10.513 3.878 11.752 1.497.385 14.761.385 16.256-.002 1.996-.515 3.62-2.134 3.842-4.957.031-.394.031-13.185-.001-13.587-.236-3.007-2.087-4.74-4.526-5.091-.559-.081-.671-.105-3.539-.11-10.173.005-12.403-.448-14.41 1.633z"
                            fill="url(#SVGID_1_)" />
                        <path
                            d="m11.998 3.139c-3.631 0-7.079-.323-8.396 3.057-.544 1.396-.465 3.209-.465 5.805 0 2.278-.073 4.419.465 5.804 1.314 3.382 4.79 3.058 8.394 3.058 3.477 0 7.062.362 8.395-3.058.545-1.41.465-3.196.465-5.804 0-3.462.191-5.697-1.488-7.375-1.7-1.7-3.999-1.487-7.374-1.487zm-.794 1.597c7.574-.012 8.538-.854 8.006 10.843-.189 4.137-3.339 3.683-7.211 3.683-7.06 0-7.263-.202-7.263-7.265 0-7.145.56-7.257 6.468-7.263zm5.524 1.471c-.587 0-1.063.476-1.063 1.063s.476 1.063 1.063 1.063 1.063-.476 1.063-1.063-.476-1.063-1.063-1.063zm-4.73 1.243c-2.513 0-4.55 2.038-4.55 4.551s2.037 4.55 4.55 4.55 4.549-2.037 4.549-4.55-2.036-4.551-4.549-4.551zm0 1.597c3.905 0 3.91 5.908 0 5.908-3.904 0-3.91-5.908 0-5.908z"
                            fill="#fff" />
                    </svg>
                </a>
                <a href="<%=page[0].tw%>">
                    <svg height="25" viewBox="0 0 512 512.00038" width="25" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="169.9940010834" x2="299.4934135904"
                            y1="71.98622701" y2="349.0548448864">
                            <stop offset="0" stop-color="#00c3ff" />
                            <stop offset="1" stop-color="#00b0ed" />
                        </linearGradient>
                        <linearGradient id="b">
                            <stop offset="0" stop-color="#00b0ed" stop-opacity="0" />
                            <stop offset="1" stop-color="#00a2ce" />
                        </linearGradient>
                        <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="364.2825237824" x2="-379.5864327114"
                            xlink:href="#b" y1="314.0868361356" y2="-84.9521808166" />
                        <linearGradient id="d" gradientUnits="userSpaceOnUse" x1="256.0003" x2="256.0003"
                            xlink:href="#b" y1="437.383215389" y2="504.4720097064" />
                        <linearGradient id="e" gradientUnits="userSpaceOnUse" x1="489.4209995136" x2="239.2937328214"
                            xlink:href="#b" y1="482.0724016502" y2="231.945134958" />
                        <path
                            d="m420.421875 503.234375c-109.503906 11.6875-219.339844 11.6875-328.84375 0-43.664063-4.660156-78.152344-39.148437-82.8125-82.816406-11.6875-109.503907-11.6875-219.335938 0-328.839844 4.660156-43.664063 39.148437-78.152344 82.8125-82.8125 109.503906-11.6875 219.335937-11.6875 328.839844 0 43.667969 4.660156 78.15625 39.148437 82.816406 82.8125 11.6875 109.503906 11.6875 219.335937 0 328.839844-4.660156 43.667969-39.144531 78.15625-82.8125 82.816406zm0 0"
                            fill="url(#a)" />
                        <path
                            d="m475.386719 110.097656c-4.132813-38.746094-34.734375-69.351562-73.484375-73.488281-97.171875-10.367187-194.632813-10.367187-291.804688 0-38.746094 4.136719-69.351562 34.742187-73.488281 73.488281-10.367187 97.171875-10.367187 194.632813 0 291.800782 4.136719 38.75 34.742187 69.355468 73.488281 73.488281 97.171875 10.371093 194.632813 10.371093 291.800782 0 38.75-4.132813 69.355468-34.738281 73.488281-73.488281 10.371093-97.167969 10.371093-194.628907 0-291.800782zm0 0"
                            fill="url(#c)" />
                        <path
                            d="m7.671875 409.804688c.351563 3.539062.714844 7.078124 1.09375 10.617187 4.660156 43.664063 39.148437 78.152344 82.816406 82.8125 109.503907 11.6875 219.335938 11.6875 328.839844 0 43.667969-4.660156 78.152344-39.148437 82.8125-82.8125.378906-3.539063.742187-7.078125 1.097656-10.617187zm0 0"
                            fill="url(#d)" />
                        <path
                            d="m511.890625 238.007812-106.277344-106.273437c-11.910156 6.808594-22.40625 10.585937-30.3125 12.679687-4.445312 1.191407-8.074219 1.839844-10.683593 2.195313-11.984376-12.285156-28.71875-19.914063-47.242188-19.914063-36.445312 0-65.996094 29.546876-65.996094 66 0 1.316407.035156 2.617188.121094 3.914063.175781 3.160156.578125 6.265625 1.199219 9.285156-15.214844-.226562-64.667969-4.289062-111.832031-44.71875-.003907 0-.003907-.003906-.003907-.003906h-.003906l-22.242187-22.246094s-26.09375 45.542969 12.269531 80.101563c1.683593 1.878906 3.535156 3.734375 5.5625 5.558594.160156.179687.328125.355468.488281.535156-5.035156-.339844-20.179688-1.847656-28.945312-8.039063 0 0-1.761719 27.835938 21.429687 48.328125l18.726563 18.886719c-5.703126.472656-12.011719.359375-16.398438-1.5625 0 0 3.882812 16.488281 18.890625 29.683594l26.234375 26.371093c-15.738281 9.167969-43.289062 20.640626-79.554688 17.710938l159.144532 155.5c54.679687-.015625 109.359375-2.9375 163.957031-8.765625 43.667969-4.660156 78.15625-39.148437 82.816406-82.8125 6.480469-60.742187 9.359375-121.585937 8.652344-182.414063zm0 0"
                            fill="url(#e)" />
                        <path
                            d="m414.683594 157.367188c-11.328125 5.925781-28.390625 8.664062-34.046875 9.453124-.046875-.273437-.09375-.535156-.140625-.796874 19.230468-11.894532 25.117187-34.289063 25.117187-34.289063-11.910156 6.808594-22.40625 10.585937-30.3125 12.679687-4.445312 1.191407-8.074219 1.835938-10.683593 2.195313-11.984376-12.289063-28.71875-19.914063-47.242188-19.914063-36.445312 0-65.996094 29.542969-65.996094 66 0 1.3125.035156 2.617188.121094 3.910157.175781 3.160156.578125 6.265625 1.199219 9.285156-17.640625-.261719-81.316407-5.671875-134.082031-66.964844 0 0-29.382813 51.265625 20.015624 86.285157 0 0-20.015624-.625-30.640624-8.128907 0 0-3.125 49.398438 53.769531 65.023438 0 0-20.003907 5.007812-30.015625.628906 0 0 10.007812 42.515625 60.027344 45.648437 0 0-35.875 32.84375-94.457032 28.117188 28.8125 18.242188 62.972656 28.800781 99.597656 28.800781 102.980469 0 186.464844-83.480469 186.464844-186.460937 0-1.285156-.011718-2.570313-.039062-3.855469.027344-.761719.039062-1.519531.039062-2.289063 0-.535156-.011718-1.070312-.019531-1.605468 19.039063-12.6875 31.324219-33.722656 31.324219-33.722656zm0 0"
                            fill="#fff" />
                    </svg>
                </a>
                <a href="<%=page[0].yt%>">
                    <svg height="25" viewBox="0 -77 512.00213 512" width="25" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m501.453125 56.09375c-5.902344-21.933594-23.195313-39.222656-45.125-45.128906-40.066406-10.964844-200.332031-10.964844-200.332031-10.964844s-160.261719 0-200.328125 10.546875c-21.507813 5.902344-39.222657 23.617187-45.125 45.546875-10.542969 40.0625-10.542969 123.148438-10.542969 123.148438s0 83.503906 10.542969 123.148437c5.90625 21.929687 23.195312 39.222656 45.128906 45.128906 40.484375 10.964844 200.328125 10.964844 200.328125 10.964844s160.261719 0 200.328125-10.546875c21.933594-5.902344 39.222656-23.195312 45.128906-45.125 10.542969-40.066406 10.542969-123.148438 10.542969-123.148438s.421875-83.507812-10.546875-123.570312zm0 0"
                            fill="#f00" />
                        <path d="m204.96875 256 133.269531-76.757812-133.269531-76.757813zm0 0" fill="#fff" /></svg>
                </a>
            </th>
        </tr>
        <tr>
            <th>
                <a href="/admin">Visit admin portal</a>
            </th>
        </tr>
    </table>
</div>
<style>
    body {
        background-color: #E8D7D7;
    }
</style>
<%- include('partials/footer')%>